@import url(style_ejercicios/style_ejercicio.css);
@import url(style_ejercicios/style_ejercicio2.css);
@import url(style_ejercicios/style_ejercicio3.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor {
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  background-color: #000000;

  display: flex;
  /* display: inline-flex; */
  flex-direction: row;
  /* flex-direction: row-reverse; */
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */
  /* flex-wrap: nowrap; */
  flex-wrap: wrap;
  /* flex-flow: column wrap; */

  justify-content: flex-start;
  /* justify-content: flex-end;
  justify-content: center;
  justify-content: space-between;
  justify-content: space-around;
  justify-content: space-evenly; */

  /* align-items: flex-start; */
  /* align-items: flex-end;
  align-items: center;
  align-items: baseline; */
  align-items: stretch;

  align-content: flex-start;
  /* align-content: flex-end;
  align-content: center;
  align-content: space-between;
  align-content: space-around; */
}

.cuadrado {
  width: 200px;
  height: 200px;
  background-color: azure;
  border: 1px solid #000;
  text-align: center;
}

.cuadrado:hover {
  background-color: bisque;
  transition: 0.5s;
}

.contenedor .cuadrado:nth-child(3) {
  background-color: steelblue;
  order: -1;
}

@media (max-width: 800px) {
  .contenedor {
    background-color: #222;
    flex-direction: column;
  }

  .contenedor .cuadrado:nth-child(3) {
  background-color: steelblue;
  order: 1;
}
}